* text=auto

/.*                     export-ignore
/tests                  export-ignore
/phpunit.xml*           export-ignore
/psalm.*                export-ignore
/psalm-baseline.xml     export-ignore
/infection.*            export-ignore
/rector.php             export-ignore
