<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile="runtime/phpunit/result.cache"
         backupGlobals="false" colors="true"
         processIsolation="false"
         executionOrder="random"
         stopOnFailure="false"
         stopOnError="false"
         stderr="true"
>
    <testsuites>
        <testsuite name="RR Worker Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="runtime/coverage"/>
            <text outputFile="runtime/coverage.txt"/>
            <clover outputFile="runtime/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="runtime/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests</directory>
        </exclude>
    </source>
</phpunit>
